.admin-body{
    display: flex;
    overflow-x: hidden;

}
.admin-header{
    top: 0;

}
.content{
    width: calc(85vw);
    margin-left: 200px;  
    overflow-x: hidden;  
    top: 0%;
  
}

@media screen and (max-width: 768px) {
    .content{
        margin-left:0 ;
        margin-top: 10vh;
        width:100vw
    }
    
}