.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .not-found-container h1 {
    font-size: 3rem;
    color: #f00; /* Red color for emphasis */
  }
  
  .not-found-container p {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  .not-found-container a {
    color: #007bff; /* Blue color for links */
    text-decoration: underline;
  }
  