.scheme-container{
    margin-top: 25px;
   
}
.scheme-list{
width: 80vw;
margin: 5px;
margin-bottom: 20px;
font-size: large;
height:50px;
display:flex;
align-items: center;
border-radius: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
transition: all 0.3s ease-in-out;

}
.scheme-list >p{
   font-style: italic;
   margin-left:25px ;
}
.scheme-list:hover{
    background: linear-gradient(58deg, rgba(237,237,237,1) 20%, rgba(66,213,74,0.4843304843304843) 80%);
    transform: scale(0.9);
    cursor: pointer;
}