 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main{
  
}
/* ID selectors */
 #Nav {
  position: relative;
  z-index: 1000;
}

#hero-root {
  position: relative;
  top: 12rem; /* Position below the #root element */
 padding-right: 20;
} 

#hero-root2 {
  margin-top: 18vh;
  margin-left: 25px;
}

/* Code element */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
